
{% extends "app/base_site.html" %}

{% load auth_tags %}
{% load user_tags %}


{% block title %} Form Upload {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <!-- Dropzone.js -->
  <link href="/static/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        {% if 'msg' in request.session %}
            <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>업로드 실패  </strong>{{request.session.msg}}
            </div>
            {% endif %}
        <div class="title_left">
          <h3>대량주문서 업로드 </h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

            <div class="x_content">
              <p>업로드 전 주문서 양식을 한번 더 확인해주세요</p>
              <form id ="excel-modal" action="/modal_view/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <br />
              <br />
              <br />
              <br />

                  <input type="file" name="excel_file" ID="fileSelect" value="파일을 선택해주세요" accept=".xlsx, .xls, .csv" required/>
              </div>
          </div>

                {% if user|check_group:'pickteam_group' %}

                    <div class="form-horizontal row">
                    <div class="control-group ">
                    <label for="retailer_name" class="control-label  col-sm-0.5 pull-left"><p class="text-info">소매명<i class="icon-star"></i></p></label>
                    <div class="controls">
                        <input type="text" name ="retailer_name" id="retailer_name"  class="span4" required>
                    </div>
                    </div>
                    <br />
                    <br />
                    <br />
                {% else %}
                <input type="hidden" name="retailer_name" id="retailer_name" value="">
                {% endif %}
                    </div>
                <div row>
                <input type="submit" value="업로드하기" data-toggle="modal" data-target="#modal" />
                </div>





              </form>



          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="excel_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">주문 확인하기</h4>
      </div>
      <div class="modal-body">
          {% if retailer_name %}
            <h6 class="modal-title" id="retailerNameLabel">{{retailer_name}}</h6>
          {% endif %}
         <table class="table table-striped projects">
                <thead class="text-center">
                  <tr>
                      <th><p class="text-center">상가</p></th>
                      <th><p class="text-center">도매명</p></th>
                      <th><p class="text-center">호수</p></th>
                      <th><p class="text-center">층</p></th>
                      <th><p class="text-center">전화번호</p></th>
                      <th><p class="text-center">장끼명</p></th>
                      <th><p class="text-center">사이즈 및 컬러</p></th>
                      <th><p class="text-center">도매가</p></th>
                      <th><p class="text-center">수량</p></th>

                  </tr>
                </thead>
                <tbody class="text-center">

                    {% block order %}
                    {% if order  %}
                    <div class="form-group">
                        <form action="/upload_excel" id="upload_excel" method="post">
                          {% csrf_token %}

                        <tr class="table-row">

                            <td><p>{{order.product_name}}</p></td>
                            <td><p>{{order.sizencolor}}</p></td>
                            <td><p>{{order.count}}</p></td>
                            <td><p>{{order.price}}</p></td>

                        </tr>
                        </form>
                    </div>
                    {% endif %}


                  </tbody>

         </table>
        {% endblock order %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">다시 업로드하기</button>
        <button type="button" class="btn btn-primary" id="btn-confirm-upload">주문 접수하기</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Dropzone.js -->
  <script src="/static/vendors/dropzone/dist/min/dropzone.min.js"></script>
{% endblock javascripts %}
