{% extends "app/base_site.html" %}
{% include "./app/modals/bulk_add_ws.html" %}

{% load auth_tags %}
{% load user_tags %}
{% load utils_tags %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}


{% block content %}






  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>도매관리</h3>
        </div>

      </div>



        <div class="row">
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-square-o"></i> 도매 추가</h2>
                        {% if messages %}
                        <ul class="messages">
                            {% for msg in messages %}
                                {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <li {% if msg.tags %} class="{{ msg.tags }} text-danger" {% endif %}>&nbsp{{ msg }} </li>
                                {% elif msg.level != DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <li {% if msg.tags %} class="{{ msg.tags }} text-success" {% endif %}>&nbsp{{ msg }} </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="clearfix"></div>
                        <div class="x_content">
                            <br />
                            <div class="search-container">
                                <form action="/action_page.php">
                                  <input type="text" placeholder="도매명 검색" name="search">
                                  <button type="submit"><i class="fa fa-search"></i></button>
                                </form>


                            </div>
                            <br />
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-ws">새로운 도매 추가하기 + </button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-bulk-add-ws">엑셀로 한번에 추가하기</button>

                                {%
                                    include "app/modals/base_modal.html" with
                                    modal_id="modal-bulk-add-ws"
                                    text_modal_header="도매 대량추가"
                                    modal_body_template="app/modals/modal_body_ws_bulk.html"
                                    modal_footer_close="닫기"
                                    modal_footer_submit="업로드하기"
                                    modal_footer_button_id="submit_ws_bulk"
                                    modal_footer_button_value="submit"
                                    form_method="post"
                                    form_action="add_bulkws"
                                    enctype="multipart/form-data"
                                    data=data
                                    modal_footer_button_type="submit"
                                %}

                                {% include "app/modals/base_modal.html" with
                                    modal_id="modal-add-ws"
                                    text_modal_header="도매 검색하기"
                                    modal_body_template="app/modals/modal_body_ws.html"
                                    modal_footer_close="닫기"
                                    modal_footer_submit="업로드하기"
                                    modal_footer_button_id="btn-add-ws-modal"
                                    modal_footer_button_value="submit"
                                    form_method="post"
                                    form_action="search_ws"
                                    enctype=None
                                    data=data
                                    modal_footer_button_type="button"
                                %}
                                 {%
                                    include "app/modals/base_modal.html" with
                                    modal_id="modal-search-ws"
                                    text_modal_header="도매 검색"
                                    modal_body_template="app/modals/modal_body_ws_bulk.html"
                                    modal_footer_close="닫기"
                                    modal_footer_submit="업로드하기"
                                    modal_footer_button_id="submit_ws_bulk"
                                    modal_footer_button_value="submit"
                                    form_method="post"
                                    form_action="add_bulkws"
                                    enctype="multipart/form-data"
                                    data=data
                                    modal_footer_button_type="submit"
                                %}


                        </div>


                    </div>

            </div>
        </div>
        <div class="">
          <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2><i class="fa fa-bars"></i> 등록된 도매</h2>
              <div class="clearfix"></div>
              </div>
              <!-- start project list -->

                                {% if is_paginated %}
                  <ul class="pagination pull-right">
                      {% if page_obj.has_previous %}
                      <li>
                          <span><a href="?page={{ page_obj.previous_page_number }}">이전</a></span>
                      </li>
                      {% endif %}
                      <li class="">
                          <span>페이지 {{ page_obj.number}} 중 {{ num_pages }}</span>
                      </li>
                      {% if page_obj.has_next %}
                      <li>
                          <span><a href="?page={{page_obj.next_page_number }}">다음</a></span>
                      </li>
                      {% endif %}

                  </ul>
                    {% else %}
                  {% endif %}


              <table class="table table-striped projects">
                <thead class="text-center">
                  <tr>
                    <th><h4 class="text-center">도매명</h4></th>
                    <th><h4 class="text-center">상가</h4></th>
                    <th><h4 class="text-center">층</h4></th>
                    <th><h4 class="text-center">호수</h4></th>
                    <th><h4 class="text-center">열</h4></th>
                    <th><h4 class="text-center">전화번호</h4></th>
                    <th><h4 class="text-center">수정</h4></th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  {%  for ws in data.ws_list %}
                        <tr id="tr-ws-list{{ws.id}}">
                        <td class="text-center">
                          <span id="a-ws-name-list{{ws.id}}"><strong>{{  ws.ws_name }}</strong></span>
                          <br />
                          <small>{{  ws.updated_time }}</small>
                        </td>
                        <td class="text-center">
                          <span id="edit-ws-building-{{forloop.counter}}">{{ ws.building}}</span>
                        </td>
                        <td class="text-center">
                            <span id="edit-ws-floor-{{forloop.counter}}">{{ ws.floor }}층 </span>
                        </td>
                      <td class="text-center">
                          <span>{{ ws.location }}호 </span>
                      </td>
                        <td class="text-center">
                            <span>{{ ws.col}} </span>
                        </td>
                       <td class="text-center">
                          <span>{{  ws.ws_phone | format_mobile_phone }}</span>
                      </td>
                        <td>

                            <form action="/delete_wsbyuser" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group" >
                                <button type="button" id="btn-edit-ws-{{forloop.counter}}" value="{{forloop.counter}}"   class="btn btn-info btn-xs" data-toggle="modal" data-target=".edit-ws-modal{{forloop.counter }}"><i class="fa fa-pencil"></i> 수정 </button>
                                    {% include "app/modals/edit_wsbyuser.html" with counter=forloop.counter %}

                            <button type="button" id="btn-delete-ws" value= "{{ws.id}}" class="btn btn-danger btn-xs">
                                <i class="fa fa-trash-o"></i> 삭제</button>
                                </div>
                            </form>
                        </td>
                      </tr>
                  {%  endfor %}

                    <!-- modal for editing ws. Should be outside of for-loop -->




                </tbody>
              </table>
                                {% if is_paginated %}
                  <ul class="pagination pull-right">
                      {% if page_obj.has_previous %}
                      <li>
                          <span><a href="?page={{ page_obj.previous_page_number }}">이전</a></span>
                      </li>
                      {% endif %}
                      <li class="">
                          <span>페이지 {{ page_obj.number}} 중 {{ num_pages }}</span>
                      </li>
                      {% if page_obj.has_next %}
                      <li>
                          <span><a href="?page={{page_obj.next_page_number }}">다음</a></span>
                      </li>
                      {% endif %}

                  </ul>
                    {% else %}
                  {% endif %}
              <!-- end project list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
 <script src="/static/build/js/manage_ws.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.60/inputmask/jquery.inputmask.js"></script>
{% endblock javascripts %}
