{% extends "app/base_site.html" %}
{% load auth_tags %}
{% load user_tags %}
{% load humanize %}
{% load utils_tags %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="page-title">
        <div class="title_left">
          <h3>주문관리</h3>
        </div>


      </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-square-o"></i> 주문서 업로드</h2>
                        {% if messages %}
                        <ul class="messages">
                            {% for msg in messages %}
                                {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <li {% if msg.tags %} class="{{ msg.tags }} text-danger" {% endif %}>&nbsp{{ msg }} </li>
                                {% elif msg.level != DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <li {% if msg.tags %} class="{{ msg.tags }} text-success" {% endif %}>&nbsp{{ msg }} </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="clearfix"></div>
                        <div class="x_content">
                            <br />
                            <br />
                            <form class="form-horizontal form-label-left" id="excel-modal" action="/excel_modal/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% if is_pickteam %}
                                <div class="form-group">
                                        <label class="control-label col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12" for="select-retailer" >소매명</label>
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" type="text" id="select-retailer" required="required" >
                                        <option  class ="form-control" value="" selected disabled> 소매명을 골라주세요</option>
                                        {% if retailers %}
                                            {% for retailer in retailers %}
                                            <option class="form-control" id="option-select-retailer-{{forloop.counter}}" value="{{retailer}}">{{retailer}}</option>
                                            {% endfor %}
                                        {% endif %}
                                        </select>
                                    </div>

                                </div>
                            {% endif %}
                                <div class="form-group">
                                    <label for="order-format" class="control-label col-lg-3 col-sm-3 col-md-3 col-xs-12">주문 양식</label>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="input-group" style="margin-bottom: 0px;">
                                        {% if format_str %}
                                            <input class="form-control" type="text" id="order-format" value="{{format_str}}" readonly style="color:#808080; background-color:#f7f7f7;cursor:text;" />
                                        {% else %}
                                            <input class="form-control" type="text" id="order-format" value="" readonly style="color:#808080; background-color:#f7f7f7;cursor:text;" />
                                        {% endif %}
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-info" id="btn-edit-order-format" data-toggle="modal" data-target=".order-format-modal" style="margin-right:0px;">수정</button>
                                            </span>
                                    </div>
                                    </div>
                                </div>
                                 <div class="form-group">
                                <label for="fileSelect" class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12">엑셀 파일</label>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <input class="form-control col-lg-7 col-md-7 col-xs-12" type="file" class="form-control" name="excel_file" ID="fileSelect" value="파일을 선택해주세요" accept=".xlsx, .xls, .csv" required/>
                                </div>
                            </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-6 col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 20px">
                                    <button type="submit" class="pull-right btn btn-success" style="margin-right:0px; margin-top:10px;" data-toggle="modal" data-target=".modal-submit-bulk-order"> 주문서 업로드하기</button>
                                    </div>
                                </div>
                            </div>
                            </form>


                    </div>

            </div>
        </div>
        <div class="">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12">
                <div class="x_panel">
                    <!-- HEADER -->
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i> 주문 확인</h2>
                        <div class="clearfix"></div>
                    </div>

                    <!-- BODY -->
                    <table class="table table-striped projects">
                        {% if is_paginated %}
                            <ul class="pagination pull-right">
                                {% if page_obj.has_previous %}
                                    <li>
                                        <span><a href="?page=1">첫 페이지</a></span>
                                    </li>
                                    <li>
                                        <span><a href="?page={{ page_obj.previous_page_number }}">이전</a></span>
                                    </li>
                                {% endif %}
                            <li class="">
                                <span>페이지 {{ page_obj.number}} 중 {{ num_pages }}</span>
                            </li>
                                {% if page_obj.has_next %}
                                    <li>
                                        <span><a href="?page={{page_obj.next_page_number }}">다음</a></span>
                                    </li>
                                {% endif %}

                            </ul>
                            {% endif %}

                     <thead class="text-center">
                     <tr>
                          <th><h4 class="text-center">날짜</h4></th>
                      {% if is_pickteam %}
                          <th><h4 class="text-center">소매명</h4></th>
                      {% endif %}

                         <th><h4 class="text-center">총 주문 도매 수</h4></th>
                         <th><h4 class="text-center">총 주문 수량</h4></th>
                         <th><h4 class="text-center">총 결제 금액</h4></th>


                      </tr>
                    </thead>
                    <tbody>
                    {% for order_group in order_groups %}
                    <tr class="text-center clickable-row">

                        <td class="text-center">
                            <span>{{ order_group.date | date }}</span>
                        </td>


                        <td class="text-center">
                          <span><strong>{{ order_group.retailer_name}}</strong></span>
                        </td>



                         <td class="text-center">
                          <span>{{ order_group.ws_count | intcomma }} 개</span>
                        </td>
                         <td class="text-center">
                          <span>{{ order_group.orders_count | intcomma}} 개</span>
                        </td>
                         <td class="text-center">
                          <span>{{ order_group.total_amt | intcomma }} 원</span>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                    </table>

                </div>
            </div>
        </div>


        </div>
      </div>
    </div>
  </div>


 <div class="modal fade order-format-modal" id="order-format-modal" tabindex="-1" role="dialog" aria-hidden="true">
     <form action="/manage_retailers/" class="form-horizontal form-label-left" method="post">
     {% csrf_token %}
     <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span> </button>
                        <h4 class="modal-title" id="edit-order-format">주문서양식 수정하기</h4>
                </div>
                <div class="modal-body form-horizontal">

                    {% if retailer_name %}
                    <input type="hidden" id="input-retailer-name" value="{{retailer_name}}">
                    {% else %}
                    <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3" for="input-retailer-name">소매명</label>
                            <div class="col-md-5 col-sm-5">
                            {% if format %}
                            {% else %}
                            <input  readonly id="input-retailer-name" name="retailer_name" class="form-control col-md-5 col-xs-7">
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3" for="order-fmt-ws-name">도매명 포맷<span class="required">*</span></label>
                        <div class="col-md-5 col-sm-5">
                            {% if format %}
                                <input type="text" name="fmt_order_format" id="order-fmt-ws-name" required="required" class="form-control col-md-5 col-xs-7" value="{{format.fmt_ws_name}}">
                            {% else %}
                                <input type="text" name="fmt_order_format" id="order-fmt-ws-name" required="required" class="form-control col-md-5 col-xs-7">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3" for="order-fmt-product-name">장끼명 포맷<span class="required">*</span></label>
                        <div class="col-md-5 col-sm-5">
                            {% if format %}
                                <input type="text" name="fmt_product_name" id="order-fmt-product-name" required="required" class="form-control col-md-5 col-xs-7" value="{{format.fmt_product_name}}">
                            {% else %}
                                <input type="text" name="fmt_product_name" id="order-fmt-product-name" required="required" class="form-control col-md-5 col-xs-7">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3" for="order-fmt-sizeNcolor">사이즈 및 컬러 포맷<span class="required">*</span></label>
                        <div class="col-md-5 col-sm-5">
                            {% if format %}
                                <input type="text" name="fmt_sizencolor" id="order-fmt-sizeNcolor" required="required" class="form-control col-md-5 col-xs-7" value="{{format.fmt_sizeNcolor}}">
                            {% else %}
                                <input type="text" name="fmt_sizencolor" id="order-fmt-sizeNcolor" required="required" class="form-control col-md-5 col-xs-7">
                            {% endif %}
                        </div>
                        <small>사이즈와 컬러를 따로 쓰면 사이즈만 적어주세요</small>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3" for="order-fmt-color">컬러</label>
                        <div class="col-md-5 col-sm-5">
                            {% if format %}
                                <input type="text" name="fmt_color" id="order-fmt-color" required="required" class="form-control col-md-5 col-xs-7" value="{{format.fmt_color}}">
                            {% else %}
                                <input type="text" name="fmt_color" id="order-fmt-color" required="required" class="form-control col-md-5 col-xs-7">
                            {% endif %}
                        </div>
                        <small>사이즈와 컬러를 같이 쓰면 빈 칸으로 남겨주세요</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3" for="order-fmt-count">수량 포맷<span class="required">*</span></label>
                        <div class="col-md-5 col-sm-5">
                            {% if format %}
                                <input type="text" id="order-fmt-count" required="required" class="form-control col-md-5 col-xs-7" value="{{format.fmt_count}}">
                            {% else %}
                                <input type="text" id="order-fmt-count" required="required" class="form-control col-md-5 col-xs-7">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3" for="order-fmt-price">가격 포맷<span class="required">*</span></label>
                        <div class="col-md-5 col-sm-5">
                            {% if format %}
                                <input type="text" id="order-fmt-price" required="required" class="form-control col-md-5 col-xs-7" value="{{format.fmt_price}}">
                            {% else %}
                                <input type="text" id="order-fmt-price" required="required" class="form-control col-md-5 col-xs-7">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3" for="order-fmt-request">요청사항 포맷</label>
                        <div class="col-md-5 col-sm-5">
                            {% if format %}
                                <input type="text" id="order-fmt-request" required="required" class="form-control col-md-5 col-xs-7" value="{{format.fmt_request}}">
                            {% else %}
                                <input type="text" id="order-fmt-request" required="required" class="form-control col-md-5 col-xs-7">
                            {% endif %}
                        </div>
                        <small>빈공간으로 남겨도 괜찮습니다.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    <button type="button" id="submit-order-format" class="btn btn-primary">수정하기</button>
                </div>
            </div>

        </div>
     </form>
 </div>


<div class="modal fade modal-submit-bulk-order" id="excel_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">주문 확인하기</h4>
      </div>
      <div class="modal-body" style="overflow:scroll; height:400px;">
          {% if retailer_name %}
            <h6 class="modal-title" id="retailerNameLabel">{{retailer_name}}</h6>
          {% endif %}
         <table class="table table-striped projects">
                <thead class="text-center">
                  <tr>
                      <th><p class="text-center">번호</p></th>
                      <th><p class="text-center">도매명</p></th>
                      <th><p class="text-center">호수</p></th>
                      <th><p class="text-center">층</p></th>
                      <th><p class="text-center">전화번호</p></th>
                      <th><p class="text-center">장끼명</p></th>
                      <th><p class="text-center">사이즈 및 컬러</p></th>
                      <th><p class="text-center">수량</p></th>
                      <th><p class="text-center">도매가</p></th>

                  </tr>
                </thead>
                <tbody class="text-center">

                {% if order  %}
                    {% block order %}
                    <div class="form-group">
                        <form action="/upload_excel" id="upload_excel" method="post">
                            {% csrf_token %}


                        <tr class="table-row">

                            <td><p>{{ forloop.counter }}</p></td>
                            <td><p>{{order.product_name}}</p></td>
                            <td><p>{{order.sizencolor}}</p></td>
                            <td><p>{{order.count}}</p></td>
                            <td><p>{{order.price}}</p></td>

                        </tr>
                        </form>
                    </div>


                  </tbody>
            {% endblock order %}
          {% endif %}
         </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">다시 업로드하기</button>
        <button type="button" class="btn btn-primary" id="btn-confirm-upload">주문 접수하기</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block javascripts %}
  {{ block.super }}
 <script src="/static/build/js/manage_orders.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.60/inputmask/jquery.inputmask.js"></script>
{% endblock javascripts %}
