{% block title %} Projects {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row-center">
      <div class="page-title">
        <div class="title_left">
          <h3>주문확인 </h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group container" >
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">

              <!-- start project list -->
              <table class="table table-striped projects">
                <thead class="text-center">
                  <tr>
                    <th><h4 class="text-center">주문번호</h4></th>
                    <th><h4 class="text-center">상품명</h4></th>
                    <th><h4 class="text-center">사이즈 및 색상</h4></th>
                      <th><h4 class="text-center">수량</h4></th>
                      <th><h4 class="text-center">가격</h4></th>
                  </tr>
                </thead>

                  <tbody class="text-center">
                    {%  for order in orders %}
                        <!-- {% with order=credit.order_of_credits %} -->
                            <tr>
                                 {% load humanize %}
                                <td><p>{{order.notify_id}}</p></td>
                                <td><p>{{order.prodcut_name}}</p></td>
                                <td><p>{{order.sizeNcolor}}</p></td>
                                <td><p>{{order.count}}</p></td>
                                <td><p>{{order.price | intcomma}}원</p></td>

                            </tr>
                        <!-- {% endwith %}-->
                    {%  endfor %}
                    {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <span><a href="?page={{ page_obj.previous_page_number }}">이전</a></span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>페이지 {{ page_obj.number}} 중 {{ page_obj.paginator.num_pages }}</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{page_obj.next_page_number }}">다음</a></span>
                            </li>
                        {% endif %}
                    </ul>

                    {% endif %}


                </tbody>

              </table>
              <!-- end project list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
