<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/home/" class="site_title"><i class="fa fa-spinner"></i> <span>터틀체인</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_info">
        {% if t_user is not None %}
          <span>안녕하세요, <strong>{{ t_user.name}}</strong>님</span>
        {% else %}
          <span>안녕하세요, <strong>더제인</strong>님</span>
        {% endif %}

    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">

      <ul class="nav side-menu">
        <li><a href="/home"><i class="fa fa-home"></i> 홈 </a></li>
        {% if ws_perm is not None and ws_perm == True %}
        <li><a href="/manage_ws"><i class="fa fa-clone"></i> 도매관리 </a></li>
        {% endif %}
        <li><a href="/upload_bulk"><i class="fa fa-file-excel-o"></i> 대량주문 </a></li>
        <li><a href="/order_list"><i class="fa fa-desktop"></i> 주문내역 </a></li>
          <li><a href="/credits"><i class="fa fa-archive"></i> 미송확인 </a></li>
        <li><a href="/temp"><i class="fa fa-sign-out"></i> 로그아웃 </a></li>

      </ul>
    </div>
  </div>
  <!-- /sidebar menu
    <!-- /menu footer buttons -->

  <!-- /menu footer buttons -->
</div>


