{% load auth_tags %}
{% load user_tags %}

<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/home/" class="site_title center-block"><img src="/static/images/turtlechain_logo.png" width="156"> </a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_info">
        {% if user %}
          <span>안녕하세요, <strong>{{ user|get_full_name }}</strong>님</span>
        {% else %}
          <span>안녕하세요, <strong>더제인</strong>님</span>
        {% endif %}

    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">

      <ul class="nav side-menu">
        <!-- <li><a href="/home"><i class="fa fa-home"></i> 홈 </a></li> -->
        {% if user|check_group:'staff' %}
            <li><a href="/super_stats"><i class="fa fa-area-chart"></i> 대시보드 </a></li>
        {% endif %}
        <li><a href="/manage_orders"><i class="fa fa-file-excel-o"></i> 주문관리 </a></li>
        <li><a href="/manage_ws"><i class="fa fa-building-o"></i> 도매관리 </a></li>
        {% if user|check_group:'pickteam_group' %}
          <li><a href="/manage_retailers"><i class="fa fa-shopping-bag"></i> 소매관리 </a></li>
        {% endif %}
        <!-- <li><a href="/credits"><i class="fa fa-archive"></i> 미송확인 </a></li> -->
        <li><a href="/temp"><i class="fa fa-sign-out"></i> 로그아웃 </a></li>

      </ul>
    </div>
  </div>
  <!-- /sidebar menu
    <!-- /menu footer buttons -->

  <!-- /menu footer buttons -->
</div>


